<header>
    <div class="header-container">
        <div class="logo">
            <a href="products.html">
                <img src="../enisi-center-logo.webp" alt="Enisi Center Logo" class="site-logo">
            </a>
        </div>
        <div class="cart-icon">
            <a href="pages/checkout.html">
                <i class="fas fa-shopping-cart"></i>
                <span id="cart-count">0</span>
            </a>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="../pages/products.html">Ballina</a></li>
            <li><a href="../pages/products.html">Produktet</a></li>
            <li><a href="../pages/contact.html">Kontakti</a></li>
        </ul>
    </nav>
</header>