<header>
    <div class="header-container">
        <h1>Mirë se vini në Enisi Center</h1>
        <div class="cart-icon">
            <a href="checkout"><i class="fas fa-shopping-cart"></i> <span id="cart-count">0</span></a>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="../pages/index" id="nav-home">Kryefaqja</a></li>
            <li><a href="products" id="nav-products">Produktet</a></li>
            <li><a href="checkout" id="nav-cart">Shporta</a></li>
            <li><a href="about" id="nav-about">Rreth Nesh</a></li>
            <li><a href="contact" id="nav-contact">Kontakti</a></li>
        </ul>
    </nav>
</header>