<header>
    <div class="header-container">
        <h1>Mirë se vini në Enisi Center</h1>
        <div class="cart-icon">
            <a href="/pages/checkout.html"><i class="fas fa-shopping-cart"></i> <span id="cart-count">0</span></a>
        </div>
    </div>
    <nav>
        <ul>
            <li><a href="/index.html" id="nav-home">Kryefaqja</a></li>
            <li><a href="/pages/products.html" id="nav-products">Produktet</a></li>
            <li><a href="/pages/checkout.html" id="nav-cart">Shporta</a></li>
            <li><a href="/pages/about.html" id="nav-about">Rreth Nesh</a></li>
            <li><a href="/pages/contact.html" id="nav-contact">Kontakti</a></li>
        </ul>
    </nav>
</header>